<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>ScryptaID - Connect identities to your Lyra address</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,800&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head> 
<body>
<div id="app">
    <div class="login-7 tab-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-align:center col-pad-0 bg-img none-992" v-if="!address">
                    <div class="logo">
                        <a href="#">
                            <img src="assets/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="informeson text-center">
                        <h4 style="margin-bottom:0">ScryptaID Authenticator</h4>
                        <p>
                            With this service you'll be able to link one or more third party accounts to your Lyra address.<br>
                            The identity payload will be encrypted with the same password of your address and you will save the updated version on your phone or on your PC downloading again the .sid file.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-4 col-pad-0 bg-color-7" v-if="address">
                    <div class="logo" style="position:fixed; top:20px; left:20px;">
                        <a href="#"></a>
                            <img src="assets/logo_dark.png" alt="logo">
                        </a>
                    </div>
                    <div class="login-inner-form" v-if="!success">
                        <div class="details">
                            Attach identity to<br><span style="font-size:12px">{{ address }}</span><br><br>
                            <form id="verificationForm" :action="'/auth/' + provider" method="GET">
                                <div class="form-group">
                                    <select v-model="provider" class="input-text" placeholder="Select a provider..">
                                        <option value="">Select a provider</option>
                                        <option value="email">E-Mail</option>
                                        <option value="phone">Phone number</option>
                                        <option value="twitter">Twitter</option>
                                        <option value="github">Github</option>
                                        <option value="google">Google</option>
                                    </select>
                                </div>
                                <div class="form-group" v-if="provider === 'email'">
                                    <input type="email" v-model="email" class="input-text" placeholder="Insert E-Mail">
                                </div>
                                <div class="form-group" v-if="provider === 'phone'">
                                    <input type="text" v-model="phone" class="input-text" placeholder="Insert Phone number">
                                    <br><small>Insert the country prefix before (ex +393331122333)</small>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div v-on:click="submitVerification()" class="btn-theme btn-theme-custom">Start verification</div><br>
                                        <div v-on:click="checkIdentities()" class="btn-theme btn-theme-custom" style="background:blue!important">Check linked identities</div>
                                        <div v-for="id in linked" v-bind:key="id.refID">
                                            <div v-on:click="revealID(id.refID)" style="border:1px solid #ccc; border-radius:5px; margin-top:20px; font-size:12px; padding:15px">
                                                {{ id.refID }}
                                                <br>
                                                Written at block <strong>{{ id.block }}</strong><br>
                                                {{ id.data.signature.substr(0,6) }} ... {{ id.data.signature.substr(-6) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--login-form-->
                    <div v-if="!updated">
                        <div class="login-inner-form" v-if="success">
                            Your {{ success.toUpperCase() }} account:<hr>
                            Username: {{ payload.identity.username }}<br>
                            ID: {{ payload.identity.id }}<br><br>
                            <div class="form-group">
                                <input type="password" v-model="unlockPwd" class="input-text text-center" placeholder="Insert wallet password">
                            </div>
                            <div v-on:click="writeIdentity()" v-if="!isWriting" class="btn-theme btn-theme-custom">Write identity's signature into the Blockchain</div>
                            <div v-if="isWriting">
                                {{ workingmessage }}
                            </div>
                        </div>
                    </div>
                    <div v-if="updated">
                        <div class="login-inner-form text-center">
                            <h4>Process completed!</h4>
                            Now is time to update your .sid file or sync again your app!<br>
                            Please note, no one keeps your identity payload, only you can share it.<br><br>
                            <canvas id="qr" style="margin-left:20px; width:100%; display:inline-block"></canvas>
                            <a id="downloadsid" style="display:none"></a>
                            <div v-on:click="downloadSidFile()" class="btn-theme btn-theme-custom">Download .sid file</div><br>
                            <a href="/">Go back</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-pad-0 bg-color-7" v-if="!address">
                        <div class="login-inner-form">
                            <div class="details">
                                <div style="width:100%; display:block; overflow:hidden">
                                    Login with an existent ScryptaID.
                                </div>
                                <input type="file"
                                    style="width:100%; display:block; overflow:hidden"
                                    placeholder="Just drag and drop here or select a .sid file"
                                    drop-placeholder="Drop file here..."
                                    v-on:change="loadWalletFromFile"
                                    class="text-left mb-3 mt-3"
                                />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- External JS libraries -->
<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Custom JS Script -->
<script src="./qrious.min.js"></script>
<script src="./scryptacore.js"></script>
<script src="./app.js"></script>

</body>
</html>